.black{
    background-color: black;
}

.white{
    background-color: white;
}

.page-container{
    background-image: url('https://i.pinimg.com/originals/76/b7/d5/76b7d5949464a6b1485a0a643d0188bf.jpg')

}